<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>currentUser</title>
  </head>
  <body>
    <div>
      <% if (user) {%>
        <h1>Welcome Back Agent <%= user.codename %></h1>
      <% } %>
    </div>
    <div>
    <div class="loop" id="userLoop">
        <div class="info">
          <ul>
            <li>Codename: <%=user.codename%></li>
            <li>Email: <%=user.email%></li>

          </ul>
        </div>

    </div>
      <form method="POST" action="<%=user.id + '?_method=DELETE' %>">
        <a href="/users/<%=user.id%>/edit" class="currentUserEdit" role="button">Edit</a>
      </form>
      <form action="/users/<%= user.id %>/profile/?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
      </form>
    </div>
  </body>
</html>
